header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-style:outset;
    border-radius: 20px;
    border-width: 6px;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(rgba(2,0,36,1) 50%, rgb(56, 11, 190) 100%);
}
main img{
    width: 25px;
    margin-top: 5px;
}
th, td {
    padding: 5px 10px;
}
.Tabela{
    border-collapse: collapse;
    border-color: black;
    border-radius: 5px;
    background-color: white;
}
.TabelasPontos{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.TabelaConstrutores{
    display: flex;
    margin-top: 50px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.Cab{
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
.Pontuação{
    width: 200px;
    margin:auto;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    border-color: black;
    background-color: white;
}
.Pilotos{
    margin: 0;
    padding: 0;
}
.ImagemPiloto{
    width: 150px;
}
